@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root { /* Configurable properties */
    --blue: #0099e0; /* Left Team */
    --red: #e83d3d; /* Right Team */
    --gold: #edba48;
    --accent: #818385; /* accent color */
    --background: #00002b;
    --font-fam: "Josefin Sans", sans-serif;; /* Font */
    --font-color: #fff;

    /* Vars to not be touched!!! */
    --draft_titleEdgeOffset: 16.5vw;
    --border: 0 0 6% 6%;
}

body {
    background-color: transparent;
    margin: 0;
}

p {
    font-family: var(--font-fam);
    color: var(--font-color);
    margin: 0;
    padding-top: 0.3em;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

div {
    margin: 0;
}

/* INTRO */
div#intro_POTW {
    position: absolute;
    top: 89.4vh;
    left: 37.5vw;
    height: 4vh;
    width: 25vw;
}

p#potw {
    font-size: 2em;
}

/* DRAFT */

img#overlayImg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

div.draft_team {
    position: absolute;
    top: 2vh;
    width: 16vw;
    height: 10vh;
}

div.draft_score {
    position: absolute;
    top: 84vh;
    width: 10vh;
    height: 10vh;
}

div#draft_blue {
    left: 1vw;
}

div#draft_red {
    right: 1vw;
}

div#draft_blueScore {
    left: 41vw;
}

div#draft_redScore {
    right: 41.6vw;
}

p.draft_team {
    color: var(--gold);
    font-size: 4em;
}

p.draft_blueTeam {
    text-align: left;
}

p.draft_redTeam {
    text-align: right;
}

p.draft_score {
    color: var(--gold);
    font-size: 4em;
}

p.draft_player {
    color: var(--gold);
    font-size: 4vh;

    /* width: 16vw; */
    width: auto;
    height: auto;

    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

    /* border: #818385;
    border-style: solid; */
}

p.draft_pblue {
    text-align: left;
    left: 1vw;
    background: var(--blue)
}

p.draft_pred {
    text-align: right;
    right: 1vw;
    background: var(--red)
}

p.draft_top {
    top: 21vh;    
}

p.draft_jgl {
    top: 34.5vh;    
}

p.draft_mid {
    top: 48vh;    
}

p.draft_bot {
    top: 65vh;    
}

p.draft_sup {
    top: 78.5vh;    
}

/* IN GAME */

div.game_titleBlock {
    width: 14vw;
	height: 5.6vh;
    position: absolute;
    border-radius: var(--border);
    border-style: solid;
    border-color: var(--gold);
}

p.game_titleBlock{
    font-size: 4vh;
}

div.game_scoreBlock {
    width: 3vh;
    height: 3vh;
    position: relative;
    top: 4.1vh;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--gold);
}

p.game_scoreBlock {
    font-size: 2vh;
    top: 0.2vh;
}

div#game_titleBlockBlue {
	/* transform: skew(20deg); */
    background: var(--background);
    left: 10.4vw
}

div#game_scoreBlockBlue {
    background: var(--background);
    right: -1.5vh;
    float: right;
}

div#game_titleBlockRed {
    background: var(--background);
    right: 9.7vw
}

div#game_scoreBlockRed {
    background: var(--background);
    left: -1.5vh;
}

div#game_bottom {
    width: 16vw;
    height: 11vh;
    position: absolute;
    bottom: 0;
    /* border-top-right-radius: 6%; */
    background: var(--background);
    border-style: solid;
    border-color: var(--gold);
}

p.game_game {
    font-size: 4vh;
}

p.game_patch {
    font-size: 4vh;

    top: 5vh;
}

/* Starting Soon and Ending */
video#overlayVid {
    z-index: 0;
}

div#startingMOTD {
    z-index: 1;

    position: absolute;
    
    top: 86vh;
    left: 29vw;

    height: 10vh;
    width: 60vw;
}

p#motd {
    font-size: 4em;
    font-weight: bold;
}

/* Between Games/Score screen */
body.score_body {
    background: var(--background);
}

div.score_blueMain {
    position: absolute;

    top: 55vh;
    left: 16vw;

    width: 18vw;
    height: 12vh;

    background: var(--gold);

    border-radius: var(--border-all);
}

div.score_blueScore {
    position: absolute;

    top: 68vh;
    left: 21vw;

    width: 8vw;
    height: 16vh;

    background: var(--gold);

    border-radius: var(--border-all);
}

div.score_redMain {
    position: absolute;
    
    top: 55vh;
    right: 16vw;

    width: 18vw;
    height: 12vh;

    background: var(--red);

    border-radius: var(--border-all);
}

div.score_redScore {
    position: absolute;

    top: 68vh;
    right: 21vw;

    width: 8vw;
    height: 16vh;

    background: var(--red);

    border-radius: var(--border-all);
}

p.score_name {
    margin-top: -1vh;
    font-size: 10vh;
}

p.score_score {
    font-size: 12vh;
}

div.score_patch {
    position: absolute;

    bottom: 0;
    left: 40vw;

    width: 20vw;
    height: 8vh;

    background: var(--accent);

    border-radius: var(--border-inverse);
}

p.score_patch {
    font-size: 5vh;
}